*{
    margin: 0;
    padding: 0;
    font-family: arial;
    transition: all .6s ease;
}
body{
    background-color: #131313;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    width: 280px;
    height: 500px;
    background-color: #c4c4c4;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    transition: transform .6s ease;
}
.box:hover{
    transform: translateY(-20px);
}
.imgdiv{
    width: 95%;
    height: 230px;
    background-color: black;
    margin-top: 10px;
    border-radius: 15px;
    overflow: hidden;
}
.contador{
    font-size: 34px;
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
.playpause{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fas{
    font-size: 50px;
}
.addmusic{
    margin-top: 40px;
}
.input{
    height: 50px;
    background-color: transparent;
    border: 3px solid blue;
    width: 230px;
    border-radius: 5px;
    font-size: 25px;
    padding: 10px;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: background .6s ease, color .6s ease, border-radius .6s ease;
}
.input:hover{
    background-color: white;
    color: black;
    border-radius: 15px;
}
.pause{
    display: none;
}
.mar{
    margin-left: 30px;
}
.mar i{
    font-size: 63px;
}